<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>clasificador de sentimientos Tweet </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma.css') }}">
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title is-spaced has-text-link">Análisis de sentimientos</h1>
        <p class="subtitle is-4">Ingrese el tweet (español) para evaluar el sentimiento: Sin sentimiento, neutro,
            positivo, negativo</p>

        {% from "_formhelpers.html" import render_field %}

        <form method="post" action="/results">
            <div class="field">
                <label class="label">Ingrese un texto</label>
                <div class="control">
                    {{ render_field(form.tweet, class_='textarea') }}
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <input type="submit" class="button is-link" value="Evaluar texto" name="submit_btn">
                </div>

                <div id="sqlite" class="control">
                    <form method="post" action="/sqliteReport">
                        <input type="submit" class="button is-link is-light" value="Reporte de clasificaciones">
                    </form>
                </div>
            </div>
        </form>

    </div>
</section>

</body>
</html>